
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}
#container{
    display: grid;
    grid-template-columns: repeat(32 , 1fr);
    grid-template-rows: repeat(32 , 1fr);
    height:24em; 
    width: 24em;
    column-gap: 0;
    margin:auto;
    
    
}

.cell{
    height: 0.75em;
    width: 0.75em;
    border: 0.1px solid rgb(238, 231, 231);
    gap: 0;
}

.hover{
    background-color: black;
}
